@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* trick to only apply in webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .container-scroll {
    cursor: pointer;
  }

  .container-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;

  }

  .container-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;

  }

  .container-scroll::-webkit-scrollbar-track {
    display: none;
  }

  .container-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

}